@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body {
  max-width: 60.3%;
  margin: 0 auto;
  background-color: #263238;
}

#college-map {
  max-width: 900px;
  height: 600px;
  border: 3px solid green;
}

#bridge-chart {
  background-color: #eceff1;
  max-width: 970px;
  max-height: 500px;
}
.bridge-container {
  margin-top: 1.3rem;
  border: 3px solid black;
}

.bridge-container,
#college-map {
  border-radius: 5px;
  box-shadow: 2px 2px 12px;
}
#college-map:hover {
  box-shadow: 2px 2px 20px rgb(164, 161, 161);
}
.bridge-container:hover {
  box-shadow: 2px 2px 20px rgb(164, 161, 161);
}

h1,
h2 {
  color: #eee;
  text-align: center;
  margin: 1rem;
  font-size: 2.4rem;
  font-family: "Acme", sans-serif;
  text-decoration: underline;
}
